{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Reporte de usuarios{% endblock %}

{% block content %}
<div id="wrapper" class="fade-in">
  <!-- Main -->
  <div id="main">
  <h1>Reporte de usuarios</h1>

  <table class="table table-striped">
   <thead align="center">

      <tr>
        <th>DNI Usuario</th>
        <th>Puntos</th>
        <th>Partidos creados</th>
        <th>Partidos a los que se unio</th>
        <th>Partidos jugados</th>
        <th>Partidos dados de baja</th>
        <th>Vouchers canjeados</th>
      </tr>
      </thead>
      <tbody>
      <section class="post">
          {% for r in resultado %}
            <tr>
              <td align="center">{{ r.0.documento }}</td>
              <td align="center">{{ r.1 }}</td>
              <td align="center"> {{ r.2 }}</td>
              <td align="center"> {{ r.3 }}</td>
              <td align="center" style="background-color: green"> {{ r.4 }}</td>
              <td align="center" style="background-color: red"> {{ r.5 }}</td>
              <td align="center"> {{ r.6 }}</td>
            </tr>
          {% endfor %}


      </section>
    </tbody>

  </table>

  </div>
  <a href="http://127.0.0.1:8000/admin/" type="button" class="btn btn-primary">Volver</a>

</div>

{% endblock %}
