{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Reporte de ganancias {% endblock %}

{% block content %}
<div id="wrapper" class="fade-in">
  <!-- Main -->
  <div id="main">
  <h1>Reporte de ganancias</h1>

  <form method="POST">
      {% csrf_token %}
      <table>
          {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary ">Buscar</button>
  </form>
  <br>

  <table class="table table-striped">
   <thead align="center">

      <tr>
        <th>Mes</th>
        <th>Ingreso en abonos</th>
        <th>Egreso en vouchers</th>
        <th>Ganancia</th>
      </tr>
      </thead>
      <tbody>
      <section class="post">
          {% for r in resultado %}
            <tr>
              <td align="center">{{ r.0 }}</td>
              <td align="center">{{ r.1 }}</td>
              <td align="center">{{ r.2 }}</td>
              <td align="center" style="background-color: green">{{ r.3 }}</td>
            </tr>
          {% endfor %}
          <tfoot>
            <tr>
              <th scope="row">Ganancia total: </th>

              <td></td>
              <td></td>
              <td align=center>{{ ganancia_total}}</td>

            </tr>

          </tfoot>

      </section>
    </tbody>

  </table>

  </div>
  <a href="http://127.0.0.1:8000/admin/" type="button" class="btn btn-primary">Volver</a>

</div>

{% endblock %}
