{% extends '../base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block title %}Reporte de partidos por deporte{% endblock %}

{% block content %}
<div id="wrapper" class="fade-in">
  <!-- Main -->
  <div id="main">
  <h1>Reporte de partidos por cancha</h1>

  <form method="POST">
      {% csrf_token %}
      <table>
          {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary ">Buscar</button>
  </form>
  <br>

  <table class="table table-striped">
   <thead align="center">

      <tr>
        <th>Cancha</th>
        <th>Cantidad de partidos generados</th>
        <th>Cantidad de partidos jugados</th>
        <th>Cantidad de partidos suspendidos</th>
        <th>Cantidad de partidos marcados no jugados</th>
      </tr>
      </thead>
      <tbody>
      <section class="post">
          {% for r in resultado %}
            <tr>
              <td align="center">{{ r.0.nombre }}</td>
              <td align="center">{{ r.1 }}</td>
              <td align="center">{{ r.2 }}</td>
              <td align="center">{{ r.3 }}</td>
              <td align="center">{{ r.4}}</td>

            </tr>
          {% endfor %}


      </section>
    </tbody>

  </table>

  </div>
  <a href="http://127.0.0.1:8000/admin/" type="button" class="btn btn-primary">Volver</a>

</div>

{% endblock %}
